<div class="table-container">
    <table>
      <tr>
        <th>Numero de sprint</th>
        <th>Equipo</th>
        <th>Fecha inicio</th>
        <th>Fecha fin</th>
        <th>Objetivos</th>
      </tr>
      <tr *ngFor="let sprint of sprints">
        <td>{{ sprint.NumeroSprint }}</td>
        <td>{{ sprint.NombreEquipo }}</td>
        <td>{{ sprint.FechaInicio | date:'dd/MM/yyyy' }}</td>
        <td>{{ sprint.FechaFin | date:'dd/MM/yyyy'}}</td>
        <td [routerLink]="['/tareas', sprint.SprintID]"> </td>
      </tr>
    </table>
  </div>
  