<div class="container">
  <form class="form" [formGroup]="myForm" (ngSubmit)="submit()">
    <p class="form-title">LOGIN</p>
     <div class="input-container">
       <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="Email">
       <span>
       </span>
   </div>

   <div *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)" class="alert alert-danger">
    <div *ngIf="myForm.get('email')?.errors?.['required']" class="red-text">
      El email es requerido.
    </div>
  </div>

   <div class="input-container">
    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
    placeholder="Contraseña">
     </div>

     <div *ngIf="myForm.get('password')?.invalid && (myForm.get('password')?.dirty || myForm.get('password')?.touched)" class="alert alert-danger">
      <div *ngIf="myForm.get('password')?.errors?.['required']" class="red-text">
        La contraseña es requerida.
      </div>
    </div>
      <button type="submit" class="submit">
     Ingresar
   </button>
  </form>
</div>



