<div class="table-container">
    <table>
      <tr>
        <th>Tarea ID</th>
        <th>Numeor de sprint</th>
        <th>Empleado</th>
        <th>Puntos</th>
        <th>Estado</th>
        <th>Descripcion</th>
        <th>Fecha inicio</th>
        <th>Fecha fin</th>
      </tr>
      <tr *ngFor="let tarea of tareas">
        <td>{{ tarea.TareaID }}</td>
        <td>{{ tarea.NumeroSprint }}</td>
        <td>{{ tarea.Nombre + " " + tarea.Apellido }}</td>
        <td>{{ tarea.Puntos }}</td>
        <td>{{ tarea.Estado }}</td>
        <td>{{ tarea.Descripcion }}</td>
        <td>{{ tarea.FechaInicio | date:'dd/MM/yyyy' }}</td>
        <td>{{ tarea.FechaFin | date:'dd/MM/yyyy'}}</td>
      </tr>
    </table>
  </div>
  