.table-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 69px;
  flex-direction: column;
  }

  .table-container table th {
    background-color: #6C79E0;
    color: white;
    padding: 10px; 
    text-align: left;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
  }
  

  .table-container table td {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px; 
    font-family: 'Inter', sans-serif;
  
  }
  

  .table-container table tr:hover td {
    background-color: #EDECFF;
  }
  
  
  .table-container table {
    border-collapse: collapse;
  }
  

  .pagination-controls{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;
    height: 24px;
    padding-top: 20px;
   }
  
   .paginationBtn{
    background-color: transparent;
    border: none;
    border-radius: 100%;
    color: white;
   }
  
   .paginationBtn:hover{
    background-color: #6c79e0;
    color: white;
   }
  
  
   .currentPageBtn{
    border-radius: 100%;
      height: fit-content;
      background-color: transparent;
      border: none;
      color: black;
   }
  
   .current-page {
    background-color: #6c79e0;
    color: #fff;
  }
  
   .currentPageBtn:hover{
    background-color: #6c79e0;
    color: white;
   }